body {
    font-family: 'Roboto', sans-serif;
}

p {
   font-weight: 300; 
}

.menu {
    background-color: #28A745;
}

.logo {
    width: 86px;
    height: 25px;
}

.formulario{
    background-color: #28A745;
}

.ofer {
    color: #28A745;
}